<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Cafeteria.App>
            <setting name="SecurityToken" serializeAs="String">
                <value>KN1dLtKk4hA9Qwn4qkY+h4WtorDczKgOLkd0TGXCePUOs0uPXbWJ86DZpYKi9lDT</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value>newuser@123</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>cafeteriarecords</value>
            </setting>
            <setting name="FirstTimeLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatestRunningDate" serializeAs="String">
                <value>2013-08-06</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="ServerPath" serializeAs="String">
                <value>E:\Software\mysql\bin</value>
            </setting>
        </Cafeteria.App>
    </userSettings>
</configuration>